#world{
    display: flex;
    flex-direction: row;
}

footer {
    position: absolute;
    top: 100%;
}
.sol {
    background-color: greenyellow;
    height: 30px;
    width: 30px;
}

.joueur {
    background-color: rgb(97, 25, 25);
    height: 30px;
    width: 30px;
}

.cible {
    background-color: rgb(230, 109, 109);
    height: 30px;
    width: 30px;
}

.boite {
    background-color: blue;
    height: 30px;
    width: 30px;
}

.boite-sur-cible {
    background-color: rgb(115, 17, 180);
    height: 30px;
    width: 30px;
}

.mur {
    background-color: black;
    height: 30px;
    width: 30px;
}