#info {
    text-align: center;
}

#parag {
    text-align: center;
}

#compteur {
    text-align: center;
}

#restart {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#world {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#world > div{
    display: flex;
    flex-direction: row;
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.container {
    height: 30px;
    width: 30px;
}

.sol {
    background-color: blue;
    background-image: url("/image/ground.png");
}

.mur {
    background-color: rgb(195, 195, 195);
    background-image: url("/image/wall.png");
}

.cible {
    background-color: rgb(25, 216, 25);
    background-image: url("/image/target.png");
}

.boite {
    background-color: yellow;
    background-image: url("/image/box.png");
}

.cible.boite {
    background-color: red;
    background-image: url("/image/box-on-target.png");
}

.boite-sur-cible {
    background-color: red;
    background-image: url("/image/box-on-target.png");
}

.joueur {
    background-color: rgb(161, 70, 70);
    background-image: url("/image/player-front.png");
}

.joueur-left {
    background-color: rgb(161, 70, 70);
    background-image: url("/image/player-left.png");
}

.joueur-right {
    background-color: rgb(161, 70, 70);
    background-image: url("/image/player-right.png");
}

.joueur-up {
    background-color: rgb(161, 70, 70);
    background-image: url("/image/player-up.png");
}